.new-arrivals {
  grid-column: 2/-2;
  padding: 3rem 0;

  h2 {
    font-size: 1.3rem;
    background-color: white;
    border-bottom: 1px solid #ecececc0;
    padding: 1rem;
  }
  .cards-container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    .card {
      cursor: pointer;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      position: relative;
      overflow: hidden;
      border-radius: 3px;
      &:hover {
        box-shadow: 0 3px 6px -3px black;
      }
    }
    .product-info {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-shadow: 0 -3px 10px -7px black;
      background-color: white;
      padding-bottom: 10px;
      text-align: center;
      font-size: 1rem;

      h2 {
        text-align: center;
        width: 100%;
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 3px;
      }
      p {
        font-size: 0.9em;
        color: #f57224;
      }
    }
  }
}
